p {
    font-size: 35px;
    font-family: "Fantasy", copperplate;
}

#search-button {
    float: right;
}

.btn-round {
    border-radius: 35px;
}

.bg-pink {
    background: rgb(237, 100, 207)
}

h1 { 
    font-size: 100px;
    font-family: "Impact" , fantasy;
}

h2 { 
    font-size: 40px;
    font-family: "Impact" , fantasy;
}

#dashboard-text {
    color: white;
    text-align: center;
}

#results-date {
    font-family: "Serif" , times new roman;
    font-size: 40px;
    position: absolute;
    padding-top: 40px;
}

#results-city-name {
    font-family: "Serif" , times new roman;
    font-size: 100px;
}

