p {
    font-size: 35px;
    font-family: "Fantasy", copperplate;
}

#search-button {
    float: right;
}

.btn-round {
    border-radius: 35px;
}

.bg-pink {
    background: rgb(237, 100, 207)
}

h1 { 
    font-size: 100px;
    font-family: "Impact" , fantasy;
}

h2 { 
    font-size: 40px;
    font-family: "Impact" , fantasy;
}

#dashboard-text {
    color: white;
    text-align: center;
}

#results-date {
    font-family: "Serif" , times new roman;
    font-size: 40px;
    position: absolute;
    padding-top: 40px;
}

#results-city-name {
    font-family: "Serif" , times new roman;
    font-size: 100px;
}

body {
    line-heights: 1.0;
}

#five-day-forecast {
    font-family: "Fantasy", copperplate;
    font-size: 70px;
    text-align: center;
}

#five-day-span {
    font-family: "Fantasy", copperplate;
    font-size: 70px;
    text-align: center;
    background-color: #0f8fd4;
    color: white; 
    padding: 10px;
    border-radius: 20px;
    border:  3px solid rgb(234, 238, 21);
}

